body{
	background: #0E0E0C;

}

.titulo{
	text-align: center;
	font-size: 50px;
	color: #B63749;
}

.texto{
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.tabela{
	margin-right: 100px;
	margin-left: 100px;
	
}

.foto1{
	text-align: left;
	width: 50%;
	border:0;
	
	
}

.foto2{
	
	width: 50%;

}

.foto3{

	width: 50%;
	
	
}

.contato{
	text-align: center;
	color: #fff;
	font-size: 25px
	right:15px;

	}

.instagram{
	text-align: center;
	color: #fff;
	font-size: 25px;
}

.email{
	text-align: center;
	color: #fff;
	font-size: 25px;
}

.whatsapp{
	text-align: center;
	color: #fff;
	font-size: 25px;
}
